.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 5px 20px;
  display: flex;
  z-index:9999;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
}
.blackHeader{
  background-color: black;
  color: white;
}

.whiteHeader{
  background-color: white;
  color: black;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
